.main {
  display: flex;
  height: 620px;
  background-image: url("background-darker\ 1.jpg");
  background-size: cover;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 240px;
  height: 170px;
  background-image: url("logo.svg");
  background-size: 280px;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 50px;
}

.nav-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Avenir";
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 1s;
}

.nav-text:hover {
  color: #000000;
  cursor: pointer;
}

.development {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #0000ee;
  opacity: 0.8;
  transition: opacity 1s;
}

.development:hover {
  opacity: 1;
}

.development-text {
  font-family: "Menlo";
  font-size: 30px;
  color: #ffffff;
}

.development-text:hover {
  cursor: pointer;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(184,188,0,0.8);
  transition: background-color 1s;
}

.design:hover {
  background-color: rgb(184,188,0,1);
}

.design-text {
  width: 250px;
  height: 250px;
  background-image: url("design-text.svg");
  background-size: 250px;
  background-repeat: no-repeat;
}

.design-text:hover {
  cursor: pointer;
}