.main {
  display: flex;
  height: 620px;
  background-image: url("background.jpg");
  background-size: cover;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 240px;
  height: 170px;
  background-image: url("logo.svg");
  background-size: 280px;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 50px;
}

.nav-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Avenir";
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 1s;
  text-decoration: none;
}

.nav-text:hover {
  color: #000000;
}

.development {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #B8BC00;
  opacity: 0.85;
  transition: opacity 1s;
}

.development:hover {
  opacity: 1;
}

.development-title {
  width: 347px;
  height: 38px;
  background-image: url("development-title.png");
  background-size: 347px;
  background-repeat: no-repeat;
}

.development-links {
  text-align: center;
  margin-top: 25px;
}

.dev-link-text {
  font-family: "Menlo";
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.dev-link-text:hover {
  border-bottom: 1px solid #ffffff;
}

.cursor {
  color: #ffffff;
  font-size: 20px;
  margin-left: 1px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes blink {
from { opacity: 1; }
to { opacity: 0; }
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #ff6839;
  opacity: 0.85;
  transition: opacity 1s;
}

.design:hover {
  opacity: 1;
}

.design-title {
  position: sticky;
  top: 0;
  width: 344px;
  height: 95px;
  background-image: url("design-text.png");
  background-size: 344px;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 15px;
}

.design-content {
  width: 100%;
  max-height: 380px;
}

.design-links {
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  color: #ffffff;
}

.design-projects {
  width: 350px;
  height: 310px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
  z-index: 1;
}

.single-project {
  background-color: none;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.5s;
}

.single-project:hover {
  background-color: #9a431f;
}

.cover-image {
  width: 260px;
  height: 185px;
  background-image: url("naked-travel-cover.png");
  background-size: 260px;
  background-repeat: no-repeat;
  margin: auto;
}

.modal {
  position: fixed;
  z-index: 2;
}

.modal-content {
  width: 100px;
  height: 100px;
  background-color: red;
}

.logo:hover, .nav-text:hover, .development-title:hover, .development-links:hover,
.design-title:hover, .design-projects {
  cursor: pointer;
}