.main {
  display: flex;
  height: 620px;
  background-image: url("background-darker\ 1.jpg");
  background-size: cover;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 240px;
  height: 170px;
  background-image: url("logo.svg");
  background-size: 280px;
  background-repeat: no-repeat;
  margin-top: -80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 50px;
}

.nav-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Avenir";
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 1s;
  text-decoration: none;
}

.nav-text:hover {
  color: #000000;
}

.development {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #0000ee;
  opacity: 0.8;
  transition: opacity 1s;
}

.development:hover {
  opacity: 1;
}

.development-title {
  width: 347px;
  height: 38px;
  background-image: url("development-title.png");
  background-size: 347px;
  background-repeat: no-repeat;
}

.development-links {
  text-align: center;
  font-family: "Menlo";
  font-size: 20px;
  color: #ffffff;
  margin-top: 15px;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(184,188,0,0.8);
  transition: background-color 1s;
}

.design:hover {
  background-color: rgb(184,188,0,1);
}

.design-title {
  width: 150px;
  height: 95px;
  background-image: url("design-title.png");
  background-size: 140px;
  background-repeat: no-repeat;
}

.design-links {
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  color: #ffffff;
}

.logo:hover, .nav-text:hover, .development-title:hover, .development-links:hover, .design-title:hover {
  cursor: pointer;
}